@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: rgb(255, 255, 255);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c4c4c4, #000000);
  background: linear-gradient(to right, #c4c4c4, #000000);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main{
  max-width: 1200px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.9em;
  color: #ffffff;
  padding: 10px;
}

h2::before{
  content: attr(data-text);
  position: absolute;
  color: #ffffff;
  width:100px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #ffffff;
  animation: animate 3s linear infinite;
  filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
}

@keyframes animate{
  0%,10%,100%{
    width: 0;
  }
  70%,90%{
    width: 43%;
  }
}

h2 span{
  color: #000000;
}

.estudiante {
  padding: 2rem;
  background: white;
  border-bottom: 1px solid #e1e1e1;
  color: black;
}

.estudiante p {
  font-weight: bold;
  margin-bottom: .8rem;
}
.estudiante p span {
  font-weight: normal;

}
.estudiante:first-of-type {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.estudiante:last-of-type {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.button.eliminar{
  height: 45px;
  line-height: 45px;
  width: 30%;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .1s ease all;
}

.button.eliminar:hover {
    box-shadow: 3px 0px 30px rgb(2, 2, 2);
}